* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/socialmedia/apple/225/money-with-wings_1f4b8.png');
    background-size: 150px 75px;
}
.container {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}
.front  {
    z-index: 2;
    width: 25%;
    height: 220px;
    background-image: linear-gradient(to bottom right, #8338EC, #331832);
    position: relative;
    margin-left: 35%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
	transform: rotateY(0deg);
}
.back {
    transition: .2s;
    z-index: 2;
    display: none;
    width: 25%;
    height: 220px;
    background-image: linear-gradient(to bottom right, #8338EC, #331832);
    position: relative;
    margin-left: 35%;
    border-radius: 15px;
    flex-direction: column;
}
.back .backTopRow {
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0, .7);
    margin-top: 10%;
}
.back .backMiddleRow {
    width: 100%;
    height: 60px;
    margin-top: 5%;
}
.back .backMiddleRow p {
    float: right;
    margin-right: 10%;
    font-family: Avenir;
    color: #fafafa;
    font-size: 90%;
}
.back .whiteRow {
    width: 85%;
    height: 30px;
    float: left;
    margin-left: 7.5%;
    background-color: #fafafa;
    border-radius: 5px;
}
.back .backBottomRow {
    width: 100%;
    height: 60px;
    margin-top: 2%;
}
.back .backBottomRow i {
    float: right;
    color: #fafafa;
    margin-right: 8%;
    opacity: .5;
}
.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    height: 25%;
    width: 100%;
}
    .stamp {
        margin-top: 3%;
        margin-left: 7%;
        color: #fafafa;
        flex: 2;
    }

    .visa {
        flex: 1;
        margin-top: 3%;
        margin-left: 6%;
        color: #fafafa;
    }
.cardNumberContainer {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    margin-top: 8%;
}
    .cardNumberWrapper {
        display: flex;
        width: 100%;
        padding: 0px;
        &:hover {
            cursor: pointer;
        }
    }
    h1 {
        text-align: center;
        width: 100%;
        color: #fafafa;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
    }

.cardNumberContainer {
    display: flex;
    width: 100%;
    flex: .65;
}
.cardHolder {
    flex: 3;
}
.cardHolderWrapper {
    margin-left: 10%;
    padding: 1px;
}
    .holder {
        margin-top: 5%;
        font-family: Avenir;
        color: #fafafa;
        font-size: 80%;
        opacity: .8;
    }
    .name {
        font-family: Avenir;
        // margin-left: 10%;
        font-weight: 500;
        font-size:105%;
        color: #fafafa;
    }
.expirationDate {
    flex: 1;
    margin-left: 25%;
}
    .expires {
        margin-top: 10%;
        margin-left: 8%;
        font-family: Avenir;
        color: #fafafa;
        font-size: 80%;
        opacity: .8;
    }
    .date {
        font-family: Avenir;
        color: #fafafa;
        font-weight: 500;
    }
    .active {
        background-color: rgba(0,0,0, .1);
        border: 2px solid rgba(255,255,255, .5);
        border-radius: 4px;
    }
    .error {
        border: 2px solid #DA3E52;
        font-size: 25px;
        font-family: Avenir;
        &:hover {
            border: 2px solid #DA3E52;
            }
    }